.input-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.file-upload,
.recruit-url-input,
.summary-text-input,
.recent-date {
  margin-bottom: 20px;
  width: 100%;
}

input[type='text'],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

/* 파일 선택 버튼 크기 조절 */
.file-upload input[type="file"] {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* 파일 업로드 시 표시 스타일 */
.file-upload input[type="file"]:not(:placeholder-shown) {
  /* background-color: rgba(254, 190, 152, 0.1); /* 투명도 10% */
  font-weight: bold;
}


/* 공고 요약하기 버튼 스타일 및 위치 조정 */
.summary-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; /* 버튼을 왼쪽에 배치 */
}

.generate-btn {
  padding: 10px 20px;
  background-color: #f5a5a5;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* New styles for the summary button and container */
.summary-container {
  display: flex;
  align-items: center;
}

.summary-btn {
  margin-left: 10px;
  margin-right: 20px; /* 버튼과 텍스트 박스 사이 간격 추가 */
  padding: 10px;
  background-color: #f5a5a5;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  flex-shrink: 0;
}

.summary-btn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
